.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 30pt;
    text-align: center;
}

.description {
    font-size: 20pt;
    text-align: center;
}

.grid {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgb(32, 35, 41);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.card {
    width: 380px;
    height: 490px;
    background-color: rgb(60, 62, 68);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    border-radius: 14px;
}

.image {
    border-radius: 14px 14px 0 0;
}

.image:hover {
    animation: change-size linear 2s;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.status {
    background-color: greenyellow;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.red-status {
    background-color: indianred;
}

.button {
    width: 400px;
    min-height: 40px;
    background-color: blueviolet;
    color: #fff;
    font-size: 14pt;
    padding: 4px;
    border: 0;
    border-radius: 8px;
    font-weight: bold;
    margin-bottom: 12px;
}